  <div fxLayout="row" fxLayoutGap="32px" fxLayoutAlign="center">
  <mat-tab-group fxFlex.gt-sm="50%" fxFlex="100%" style="text-align: center;" mat-align-tabs="center">
    <mat-tab label="Login" style="display: inline-block; width: 80%;">
      <h2>Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <p>
    <mat-form-field >
      <mat-label>User Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field >
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password">
    </mat-form-field>
  </p>
      <div class="form-group">
          <button mat-flat-button color="primary" [disabled]="loading" class="btn btn-primary">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              Login
          </button>
      </div>
  </form>
    </mat-tab>
    <mat-tab label="Registeration">
      <h2>Registeration</h2>
  <form (ngSubmit)="onRegister()" #registrationForm="ngForm">
    <p>
      <mat-form-field >
        <mat-label>User Name</mat-label>
        <input matInput type="text" name="name"  [(ngModel)]="newUser.name" required>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field >
        <mat-label>Password</mat-label>
        <input matInput type="password" name="password" [(ngModel)]="newUser.password" required>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field >
        <mat-label>Email</mat-label>
        <input matInput  name="email"  [(ngModel)]="newUser.email" required>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-label>Gender</mat-label>
        <mat-select name="gender" [(ngModel)]="newUser.gender" required>
          <mat-option value="0">Male</mat-option>
          <mat-option value="1">Female</mat-option>
        </mat-select>
      </mat-form-field>
    </p>
    <p>
        <button type="button" mat-flat-button [(ngModel)]="dummy" [ngModelOptions]="{standalone: true}" (click)="openIconDialaog()">Icon</button>

    </p>
    <p>
      <button type="submit" mat-flat-button color="primary" [disabled]="isbuttonDisabled('onRegister')">Register</button>
      <button type="button" mat-flat-button  (click)="resetRegistration();registrationForm.reset()">Reset</button>
    </p>

  </form>
</mat-tab>
  </mat-tab-group>

</div>
