.profile-picture{
  background-image: url('/assets/images/avatar.png');
  background-size: cover;
}

.player-card{
  display: block;
}
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.president{
  border-color: #4CAF50;
}
.dead{
  border-color: red;
}
.none{

}
