<div class="container" fxLayout="row" fxLayoutAlign="center">
  <div fxFlex="15%">
    <div class="container" fxLayout="column" fxLayoutAlign="center"  >
      <div fxFlex="30%" class="draw-pile">{{(game != null && game.remainingCards != null)? game.remainingCards.length : -1}}</div>
      <div fxFlex="10%" ></div>
      <div fxFlex="30%" class="discard-pile">{{(game != null && game.discardedCards != null)? game.discardedCards.length : -1}}</div>
    </div>
  </div>
  <div fxFlex="85%">
    <div class="container" fxLayout="column" fxLayoutAlign="center">
      <div fxFlex="45%" [ngClass]="defineLiberalClass()"></div>
      <div fxFlex="45%" [ngClass]="defineFascistClass()"></div>
    </div>
  </div>
</div>
