<div class="container" fxLayout="row" fxLayoutAlign="center">
  <div fxFlex="15%">
    <div class="container" fxLayout="column" fxLayoutAlign="center"  >
      <div fxFlex="30%" class="draw-pile"></div>
      <div fxFlex="10%" ></div>
      <div fxFlex="30%" class="discard-pile"></div>
    </div>
  </div>
  <div fxFlex="85%">
    <div class="container" fxLayout="column" fxLayoutAlign="center"  >
      <div fxFlex="10%" class="fail-round" ></div>
      <div fxFlex="45%" class="liberal-board"></div>
      <div fxFlex="45%" class="fascist-board"></div>
    </div>
  </div>
</div>
